.image-upload>input {
    display: none;
  }
.editCategory{
  margin-top: -8px;
}
#newPwd{
  display: none;
}
#profile{
  display: none;
}
#onlyEventJoined{
  width: 25px;
  height:25px;
}
#location_countries{
  display: inline-block;
}
#userName{
  display: inline-block;
}
#numberOfMember{
  display: inline-block;
}
#times_start{
  display: inline-block;
}